* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

body {
    margin: 20px;
    width: 90%;
    min-height: 600px;
    border: 3px gray solid;
    padding: 20px;
}

header h1 {
    background-color: #227C9D;
    color: white;
    padding: 30px 15px;
    margin-bottom: 20px;
    border: 5px #FFCB77 dotted;
}

nav {
    background-color: #333;
}

nav ul {
    display: flex;
    justify-content: center;
}

nav ul li {
    list-style: none;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    
}

.article {
    display: inline-block;
    width: 30%;
    margin: 5px 25px;
    padding: 15px;
    border: 2px black solid;
    border-radius: 10px;
}

.article h2 {
    color: black;
}

.article p {
    color: black;
}

#article1 {
    background-color: #FFCB77;
}

#article2 {
    background-color: #17C3B2;
}

#article3 {
    background-color: #FE6D73;
}

footer {
    margin-top: 30px;
    padding: 20px;
    background-color: #333;
    color: white;
    border-top: 5px #227C9D solid;
}